.container-fluid {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 
  5px 5px 0px #000000, 
  -5px -5px 0px #ffffff;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-item {
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}

.nav-item:hover {
  box-shadow: 
  0px 5px 0px #000000, 
  -0px -5px 0px #ffffff;
}

.nav-item:active {

  box-shadow: 
  inset 0px 5px 0px #000000, 
  inset -0px -5px 0px #ffffff;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-3d {
  background: #ffffff;
  border: 2px solid #09ff00;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}

.btn-3d:hover {
  box-shadow: 
  inset 5px 5px 0px #000000, 
  inset -5px -5px 0px #ffffff;
  background: #ffffff;
  color: black;
}

.checkout-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #09ff00;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}
.checkout-link:hover {
  background-color: green;
}
