
/* Navbbar base*/
.container-fluid {
  height: 4rem;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 
  5px 5px 0px #000000, 
  -5px -5px 0px #ffffff;
}
/* navbar base ends*/

/*navbar left dan animasi item nya*/
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-item {
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}

.nav-item:hover {
  box-shadow: 
  0px 5px 0px #000000, 
  -0px -5px 0px #ffffff;
}

.nav-item:active {
  box-shadow: 
  inset 0px 5px 0px #000000, 
  inset -0px -5px 0px #ffffff;
  transform: scale(0.95);
}
/*navbar left dan animasi item nya ends*/

/*navbar right dan animasi item nya*/
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-search {
  background: #ffffff;
  border: 2px solid #09ff00;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}

.btn-search:hover {
  border: 2px solid #09ff00;
  box-shadow: 
  0px 5px 0px #059000, 
  -0px -5px 0px #ffffff;
  color: black;
}

.btn-search:active {
  border: 2px solid #09ff00 ;
  box-shadow: 
  inset 0px 3px 0px #059000, 
  inset -0px -5px 0px #ffffff;
  color: black;
  transform: scale(0.95);
}

.checkout-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #09ff00;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}
.checkout-link:hover {
  box-shadow: 
  0px 5px 0px #059100, 
  -5px -5px 0px #ffffff;
  color: black;
}

.checkout-link:active {
  box-shadow: 
  inset 0px 3px 0px #059100, 
  inset -5px -5px 0px #ffffff;
  color: black;
  transform: scale(0.95);
  border: 2px solid #09ff00;
}

.profile-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #09ff00;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
} 

.profile-link:hover {
  box-shadow: 
  0px 5px 0px #059100, 
  -5px -5px 0px #ffffff;
  color: black;
}

.profile-link:active {
  box-shadow: 
  inset 0px 3px 0px #059100, 
  inset -5px -5px 0px #ffffff;
  color: black;
  transform: scale(0.95);
  border: 2px solid #09ff00;
}
/*navbar right dan animasi item nya ends*/

@media (max-widhth: 768px) {
  .container-fluid {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 5px;
  }

  .nav-left, .nav-right {
    width: 100%;
    justify-content: center;
  }

  .btn-search {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .nav-item {
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 30px;
    padding: 3px 8px;
  }

  .btn-search {
    padding: 8px 16px;
    font-size: 14px;
  }

  .checkout-link {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}