.container-fluid {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 
  5px 5px 0px #000000, 
  -5px -5px 0px #ffffff;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.navbar-nav a {
  text-decoration: none;
  border: 2px solid black;
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 
  5px 5px 0px #000000, 
  -5px -5px 0px #ffffff;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}

.navbar-nav a:hover {
  border-radius: 15px;
  background: #ffffff;
  box-shadow:
  inset 5px 5px 0px #000000,
  inset -5px -5px 0px #ffffff;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-3d {
  background: #ffffff;
  border: 1px solid #09ff00;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1.01);
}

.btn-3d:hover {
  border: 1px solid #09ff00;
  box-shadow: 
  inset 5px 5px 0px #666666, 
  inset -5px -5px 0px #ffffff;
  background: #ffffff;
  color: black;
}
